# Binaries
dmxd/dmxd
dmxd/dmxdummy
dmxd/dmxtest
src/blackout
src/sinewaves
src/synesthesizer
src/whiteout

# Configuration files
src/adsr.txt

# Build objects
*.o

# Qt build files
src/moc_*
src/.qmake.stash
src/Makefile

# QtCreator files
dmxstuff.config
dmxstuff.creator
dmxstuff.creator.user
dmxstuff.files
dmxstuff.includes
